
<h1>VERZEO MINOR PROJECT IN ANGULAR VALIDATIOM FORMS</h1>

<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input type="text" placeholder = "Enter name" formControlName="user">
  
  <span *ngIf="user && user.invalid" style="color: green ;">name should not be blank  Length should be 5</span>
  <br>
   <input type="password" placeholder="Enter password"  formControlName="password">
   <span *ngIf="password && password.invalid" style="color: blue;">password should not be blank should be 4-8</span>
  

  <br>
  <input type="email" placeholder = "Enter email" formControlName="email">
  <span *ngIf="email && email.invalid" style="color: green ;">email should not blank and email should have @ symbol</span>
  
  <br> 
  <button>Submit</button>
</form>

